#score-table td, #score-table th {
    text-align: center;
    vertical-align: middle;
}

#score-table td input {
    margin: 0px;
}

.tab-pane fieldset h4 {
    font-weight: normal;
}

textarea.fill-form {
    width: 95%;
    margin-left: 5px;
    margin-right: 5px;
}
